.home-images-strip {
    background: #9E3EB2 !important;
    z-index: 3;
}

.home-images-strip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -50px;
    margin-bottom: 40px;
}

.home-images-strip-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    position: relative;
}

.home-images-strip-item p {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    background-color: gold;
    border-radius: 1000px;
    width: calc(100% - 30px);
    font-size: 10px;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
}

#shopify-section-template--25358822277399__slideshow_Pb7dBN slideshow-slides {
    aspect-ratio: 1920 / 790;
}

.slide__image-container a {
    height: 100%;
    width: 100%;
}

.slide__image-container a img {
    height: 100%;
    width: 100%;
}

.home_ingredients_desc {
    background-color: #F5EFF8 !important;
    padding-top: 120px;
    padding-bottom: 120px;
}

.home_ingredients_desc_top_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.home_ingredients_desc_top_container_left {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 5px;
}

.home_ingredients_desc_top_container_left p {
    margin: 0;
    font-size: 13px;
    width: 50%;
    color: #9E3EB2;
    text-transform: uppercase;
}

.home_ingredients_desc_top_container_left h2 {
    margin: 0;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.home_ingredients_desc_top_container_right {
    display: flex;
    width: 60%;
}

.home_ingredients_desc_top_container_right p {
    font-weight: 300;
    font-size: 14px;
    line-height: 2.2;
}

.home_ingredients_desc_bottom_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
}