.home-images-strip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home-images-strip-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-images-strip-item p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFD700;
    border-radius: 1000px;
    width: 100%;
    font-size: 10px;
}