.pdp_product_usp_container {
    display: flex;
    gap: 50px;
}

.pdp_product_usp_container .section_heading {
    text-align: left;
    margin-top: 10px;
}

.pdp_product_usp_left_img {
    width: 50%;
    height: fit-content;
}

.pdp_product_usp_container_right_column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.pdp_product_usp_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}