.pdp_product_usp_container {
    display: flex;
    justify-content: center;
    align-items: start;
}

.pdp_product_usp_container img:first-of-type {
    width: 50%;
    height: auto;
    object-fit: cover;
}