.product-about-container {
    display: flex;
    gap: 80px;
}

.product-about-container-wrapper {
    background: #FCFAFF !important;
    padding-top: 100px;
    padding-bottom: 100px;
}

.product-about-container-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    width: 50%;
}

.product-about-container-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    width: 50%;
}

.product-about-container-right .section_heading {
    color: #9E3EB2;
    font-size: 23px !important;
    font-weight: 400;
    margin-top: 17px !important;
}

.product-about-container-left-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.product-about-left_column-item {
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: start;
    margin-top: -50px;
}

.product-about-left_column-item-text {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border-bottom: solid 1px #C4C4C4;
}

.product-about-left_column-item:last-of-type .product-about-left_column-item-text {
    padding-bottom: 0;
    border: none;
}

.product-about-left_column-item:first-of-type .product-about-item-title {
    padding-top: 0;
}

.product-about-container .section_heading {
    text-align: left;
    margin-top: 10px;
    font-size: 33px;
}

.product-about-left_column-item img {
    width: 70px;
    padding: 50px 0 0;
}

.product-about-item-title {
    font-family: 'Gotham', sans-serif !important;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
    padding-top: 50px;
}

.product-about-left_column-item-text p,
.product-about-left_column-item-text li {
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0 0px 0px;
}

.product-about-left_column-item-text li {
    font-weight: 500 !important;
    margin: 0;
}

.product-about-container-right-bottom {
    border: solid 1px #E4DFED;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
}

.product-about-container-right-bottom p {
    margin: 0;
}

.product-about-container-right-bottom p:first-of-type {
    font-weight: 500;
    width: 30%;
    color: #000;
}

.product-about-container-right-bottom .product-about-container-right-bottom-row p:last-of-type {
    font-weight: 300;
    width: 70%;
    color: #222222;
}

.product-about-container-right-bottom-header {
    display: flex;
    font-size: 20px;
    font-weight: 500 !important;
    padding: 15px;
}
.product-about-container-right-bottom-row{
    display: flex;
}