.product-about-container {
    display: flex;
}

.product-about-container-wrapper {
    background: #FCFAFF !important;
    padding-top: 100px;
    padding-bottom: 100px;
}

.product-about-container-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.product-about-container-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}